<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/STYLES/styles.css">
    <title>TECNOLOGÍA WEB</title>
</head>

<body>
    <header>
        <h1 class="dm"> Diseño <span> Multimedia </span> </h1>
        <nav>
            <ul>
                <li><a href="/index.html"> INICIO </a></li>
                <li><a href="/TEMPLATES/nosotros.html"> NOSOTROS </a></li>
                <li><a href="/TEMPLATES/servicios.html"> SERVICIOS </a></li>
                <li><a href=""> <span> CONTACTO </span></a></li>
            </ul>
        </nav>
    </header>

    <aside class="subs">
        <h4> Subscríbete a nuestro boletín </h4>
        <div class="correo">
            <input type="email" placeholder=" Ingrese el Email...">
            <button> Subscríbete </button>
        </div>
    </aside>

    <br>
    <main class="container gap-2 ">

        <section class="formulario">
            <h2 class="con"> Contacto </h2>
            <label for="nombre"> Nombre: </label>
            <input class="form" type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre" /> <br>

            <label for="correo"> Email: </label>
            <input class="form" type="email" name="correo" id="correo" placeholder="Ingresa tu email"> <br>

            <label for="telefono"> Teléfono: </label>
            <input class="form" type="tel" name="telefono" id="telefono" placeholder="Ingresa tu teléfono"> <br>

            <label for="telefono"> Celular: </label>
            <input class="form" type="tel" name="telefono" id="telefono" placeholder="Ingresa tu celular"> <br>

            <label for="sugerencia"> Mensaje </label>
            <textarea name="sugerencia" class="form" id="sugerencia"></textarea>
            
            <button class="boton"> Enviar </button>

        </section>
        <aside class="aside gap-2">
            <div class="third">

                <h1> Que hacemos </h1>
                <br>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dolores, adipisci vel, autem
                    commodi
                    vitae quae quidem amet eveniet provident, omnis sunt fugit sit sapiente soluta rem id velit
                    doloribus.
                </p>
            </div>
            <div class="imag">
                <img src="/ASSETS/mapaGoogle.png">
            </div>
        </aside>
    </main>
    <footer> Graphel Desarrollo Web, Copyright © 2017 </footer>
</body>

</html>