<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/STYLES/styles.css">
    <title> Nosotros </title>
</head>

<body>
    <header>
        <h1 class="dm"> Diseño <span> Multimedia </span> </h1>
        <nav>
            <ul>
                <li><a href="/index.html"> INICIO </a></li>
                <li><a href=""> <span> NOSOTROS </span> </a></li>
                <li><a href="/TEMPLATES/servicios.html"> SERVICIOS </a></li>
                <li><a href="TEMPLATES/contacto.html"> CONTACTO </a></li>
            </ul>
        </nav>
    </header>

    <aside class="subs">
        <h4> Subscríbete a nuestro boletín </h4>
        <div class="correo">
            <input type="email" placeholder=" Ingrese el Email...">
            <button> Subscríbete </button>
        </div>
    </aside>

    <main class="container cerca">
        <article class="first">
            <h1> Nosotros </h1>
            <br>
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nemo at tenetur, iusto hic eum, quas ad
                ipsum a cum voluptas commodi ipsa eligendi veritatis aspernatur maxime voluptatibus ab accusantium. Enim
                repellendus officia delectus quas sapiente architecto debitis ex, ut odio nemo. Ab repellendus porro
                repudiandae neque iste, exercitationem odit quae libero sapiente voluptas ut reprehenderit iure autem
                obcaecati nihil id maxime officiis, tempora quibusdam. Corporis deleniti fuga numquam dignissimos,
                tenetur aut voluptate consequatur vitae quo laborum officia quasi. Quam. </p>
            <br>
            <p class="second"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum aliquam aliquid atque
                architecto vero
                optio, consectetur, impedit delectus, quos deleniti consequuntur quisquam! Iusto accusamus nesciunt
                molestias cum quos, soluta velit, officiis perspiciatis nobis corporis unde sint assumenda possimus
                mollitia provident ut pariatur hic, harum consectetur animi eligendi tempore a quasi! Consequatur
                veritatis harum unde nam labore, quas tempora accusamus, voluptatem corporis ratione sed cumque facilis
                repellat non molestiae! Perspiciatis ipsum facilis veniam dolore ratione, hic dolores laborum quibusdam
                velit dolorum? Voluptates perspiciatis pariatur corporis ipsa? </p>
            <br>
            <img src="/ASSETS/891.jpg" width="900px">
        </article>
        <aside class="hacemos">
            <h1> Que hacemos </h1>
            <br>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dolores, adipisci vel, autem commodi
                vitae quae quidem amet eveniet provident, omnis sunt fugit sit sapiente soluta rem id velit doloribus.
            </p>
        </aside>
        
        
    </main>
    <footer class="dos"> Graphel Desarrollo Web, Copyright © 2017 </footer>


</body>

</html>