<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/STYLES/styles.css">
    <title> TECNOLOGÍA WEB </title>
</head>

<body>
    <header>
        <h1 class="dm"> Diseño <span> Multimedia </span> </h1>
        <nav>
            <ul>
                <li><a href="/index.html"> INICIO </a></li>
                <li><a href="/TEMPLATES/nosotros.html"> NOSOTROS </a></li>
                <li><a href=""> <span> SERVICIOS </span> </a></li>
                <li><a href="/TEMPLATES/contacto.html"> CONTACTO </a></li>
            </ul>
        </nav>
    </header>

    <aside class="subs">
        <h4> Subscríbete a nuestro boletín </h4>
        <div class="correo">
            <input type="email" placeholder=" Ingrese el Email...">
            <button> Subscríbete </button>
        </div>
    </aside>

    <main class="container">
        
        <div>
            <h2 class="serv"> Servicios </h2>

            <section class="dw">
                <h2> Desarrollo Web </h2>
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga quas omnis sunt veritatis, vel suscipit
                    id
                    aliquid voluptatem ratione tempore eligendi veniam quia distinctio ducimus!</p>
                <br>
                <p> Precio desde: $1000000 </p>
            </section>
    
            <section class="dw">
                <h2> Diseño Web </h2>
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, qui? Id laudantium excepturi,
                    sapiente
                    nihil itaque temporibus, nam iste quia rem rerum neque, necessitatibus impedit.</p>
                <br>
                <p>Precio: $3000000 - $100000 </p>
            </section>
    
            <section class="dw">
                <h2> Hosting Web </h2>
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia obcaecati quibusdam, possimus alias a
                    rerum
                    dolorum ut fugiat? Obcaecati voluptate modi porro fugiat, minus deleniti! </p>
                <br>
                <p> Precio: $300000 </p>
            </section>
        </div>
        <aside class="hacemos">
            <h1> Que hacemos </h1>
            <br>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dolores, adipisci vel, autem commodi
                vitae quae quidem amet eveniet provident, omnis sunt fugit sit sapiente soluta rem id velit doloribus.
            </p>
        </aside>
    </main>

    <footer> Graphel Desarrollo Web, Copyright © 2017 </footer>
</body>

</html>